.wrapper {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.wrapper>* {
    height: 100%;
    width: 100%;
}

.container {
    position: relative;
}

.glowing-div {
    position: absolute;
    padding: 10px;
    background-color: transparent;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.glowing-div::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 99%;
    height: 99%;
    padding: 17px;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
    box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
    z-index: 2;
    -webkit-animation-name: gradient-shadow;
    animation-name: gradient-shadow;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

@-webkit-keyframes gradient-shadow {
    0% {
        -webkit-box-shadow: 0 0 17px 3px #C586C0, 0 0 4px 2px #C586C0;
        box-shadow: 0 0 17px 3px #C586C0, 0 0 4px 2px #C586C0;
    }

    20% {
        -webkit-box-shadow: 0 0 17px 3px #0ff, 0 0 4px 2px #0ff;
        box-shadow: 0 0 17px 3px #0ff, 0 0 4px 2px #0ff;
    }

    40% {
        -webkit-box-shadow: 0 0 17px 3px #0f0, 0 0 4px 2px #0f0;
        box-shadow: 0 0 17px 3px #0f0, 0 0 4px 2px #0f0;
    }

    60% {
        -webkit-box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
        box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
    }

    80% {
        -webkit-box-shadow: 0 0 17px 3px #f00, 0 0 4px 2px #f00;
        box-shadow: 0 0 17px 3px #f00, 0 0 4px 2px #f00;
    }

    100% {
        -webkit-box-shadow: 0 0 17px 3px #C586C0, 0 0 4px 2px #C586C0;
        box-shadow: 0 0 17px 3px #C586C0, 0 0 4px 2px #C586C0;
    }
}

@keyframes gradient-shadow {
    0% {
        -webkit-box-shadow: 0 0 17px 3px #C586C0, 0 0 4px 2px #C586C0;
        box-shadow: 0 0 17px 3px #C586C0, 0 0 4px 2px #C586C0;
    }

    20% {
        -webkit-box-shadow: 0 0 17px 3px #0ff, 0 0 4px 2px #0ff;
        box-shadow: 0 0 17px 3px #0ff, 0 0 4px 2px #0ff;
    }

    40% {
        -webkit-box-shadow: 0 0 17px 3px #0f0, 0 0 4px 2px #0f0;
        box-shadow: 0 0 17px 3px #0f0, 0 0 4px 2px #0f0;
    }

    60% {
        -webkit-box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
        box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
    }

    80% {
        -webkit-box-shadow: 0 0 17px 3px #f00, 0 0 4px 2px #f00;
        box-shadow: 0 0 17px 3px #f00, 0 0 4px 2px #f00;
    }

    100% {
        -webkit-box-shadow: 0 0 17px 3px #C586C0, 0 0 4px 2px #C586C0;
        box-shadow: 0 0 17px 3px #C586C0, 0 0 4px 2px #C586C0;
    }
}